
main{
    display: flex;
    flex-direction: column;


}
.Photos{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    margin-left: 10px;
    margin-right: 10px;

    
}
.rubrika{
 background-color: white;
  float: left;
  padding: 5px;
box-shadow: 3px 3px 5px black;
  border-radius:10px;
  margin: 20px;
  width: 250px;
    height: 300px;
    background-color: rgb(249, 213,227);
}
