@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff6f6;
  font-family: "Montserrat", sans-serif;
}

.boxes {
  display: flex;
  background-color: #ffdfdf;
  width: 100%;
  border-radius: 7px;
}

.loginft img {
  height: 400px;
  width: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.box {
  text-align: center;
  margin: auto;
}

.box h2 {
  margin-bottom: 40px;
}

.loginform input {
  border: 1px solid #f875aa;
  border-radius: 4px;
  width: 300px;
  padding: 8px;
  background-color: #ffdfdf;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.loginbuton button {
  border-radius: 4px;
  background-color: #f875aa;
  padding: 9px 30px;
  border: 1px solid #f875aa;
  margin-top: 30px;
}

.Login_section {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 50px;
}

::placeholder {
  color: black;
}


nav .logo a{
  color: black ;
  text-decoration: none;
}
nav .logo a:hover{
  color: #272a2d !important;
  text-decoration: none;
}

nav {
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: transparent;
}
nav .logo {
  float: left;
   width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #f5cb5c !important;
  text-decoration: none;
  
}
nav .logo strong{
  margin-left: 6px;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #f36ba1;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}


nav.underline_nav ul li a {
  position: relative;
}
nav.underline_nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.underline_nav ul li a:hover:after {
  width: 100%;
}



/* .menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
}

.linku {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  text-decoration-line: none;
  color: black;
}

.linku ul {
  list-style: none;
  display: flex;
  text-decoration-line: none;
  color: black;
}

.linku a {
  text-decoration-line: none;
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
}

.linku a.active {
  color: #f875aa;
} */

.homee {
  display: flex;
  margin-top: 90px;
}

.homecontent h2 {
  margin-bottom: 40px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

.homecontent {
  margin-right: 200px;
}

.homelogo img {
  height: 300px;
  width: auto;
  border-radius: 15px;
}

.homecontent p {
  font-size: 22px;
  margin-bottom: 30px;
}

.homebuttons .Pink {
  background-color: #f875aa;
  padding: 10px 25px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid palevioletred;
}

.homebuttons .White {
  background-color: lightcoral;
  border-radius: 4px;
  padding: 10px 25px;
  border-color: #f875aa;
}

.homebuttons a:hover {
  text-decoration: underline;
  background-color: #f875aa;
  transition: 0.4s;
}

.homebanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/bannerfoto.jfif);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-top: 122px;
  background-attachment: fixed;
}

.homebanner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}

.productboxes {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 100px;
}

.productbox {
  background-color: rgb(249, 213, 227);
  padding: 30px;
  margin-top: 40px;
  border-radius: 20px;
}
.productbox img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.producttitle h3 {
  margin-top: 122px;
}

.producttitle {
  display: flex;
}
.producttitle .pinkt {
  color: #f875aa;
}

.pinkp {
  margin-bottom: 8px;
  color: #f875aa;
  margin-top: 20px;
}

.price {
  margin-top: 40px;
  margin-bottom: 15px;
}

.productbox a {
  text-decoration: none;
  color: unset;
}

.abcontent {
  margin-top: 122px;
}

.abboxes {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 30px 200px;
}

.abbox {
  background-color: rgb(249, 213, 227);
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

.abcon {
  color: #f875aa;
  margin-bottom: 40px;
}

.abcontent {
  display: flex;
}

.abbox p {
  font-size: 20px;
  font-weight: bold;
}

.applesc_photo img {
  width: auto;
  height: 300px;
}

.applesc_container h2 {
  margin-top: 122px;
  margin-bottom: 25px;
}

.applesc_container p {
  font-size: 18px;
  margin-bottom: 25px;
}

.applesc_container {
  text-align: center;
}

.applesc_photo {
  text-align: center;
}

.ct_form input,
textarea {
  border: 1px solid #ba2e66;
  border-radius: 4px;
  width: 300px;
  padding: 8px;
  background-color: #fbf6f6;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.contact_form_icon {
  display: flex;
  justify-content: space-around;
}

.icon_box {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 23px;
}

.icon i {
  font-size: 32px;
  color: #f875aa;
}

.icon_info {
  margin-left: 27px;
}

.icon_info a {
  color: rgb(226, 152, 152);
}

.icon_info h3 {
  color: rgb(236, 79, 79);
}

.contactcc h3 {
  margin-top: 122px;
  margin-bottom: 70px;
  text-align: center;
}

.ct_form button {
  background-color: #f36ba1;
  margin-left: 50px;
  padding: 10px 46px;
  border-radius: 4px;
  margin-top: 35px;
  border: 1px solid palevioletred;
  float: right;
}

.fcontent {
  text-align: center;
}

.fcontent button {
  border-radius: 50%;
  background-color: #ba2e66;
  border: none;
  margin-left: -36px;
  cursor: pointer;
}

.fcontent h2 {
  margin-bottom: 50px;
}
.fa-chevron-right:before {
  text-align: center;
  padding: 18px 11px;
}

i.fa.fa-chevron-right {
  height: 25px;
  width: 28px;
  line-height: 25px;
}

.newsletter_form {
  margin: 0 auto;
}
.newsletter_form input {
  width: 30%;
  border-radius: 80px;
  padding: 8px 12px;
  border: none;
}

.footer_section {
  background-color: #f875aa;
  padding: 22px;
  margin-top: 122px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  text-decoration-line: none;
  color: black;
  margin-top: 90px;
}

.navigation a {
  text-decoration-line: none;
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}

.footeric {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  gap: 23px;
  align-items: center;
}

.footerc label {
  font-size: 10px;
}

.footerc {
  text-align: center;
  margin-top: 50px;
}

.aboutusbanner img {
  width: auto;
  height: 500px;
  margin-bottom: 122px;
}

.singleproduct_stuf {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 80px;
}

.singleproduct_con {
  display: flex;
  justify-content: space-between;
}
.spcon {
  font-size: 21px;
}

.sncon {
  font-size: 20px;
  font-weight: bold;
}

hr {
  margin-bottom: 15px;
}

.singleproduct_ph {
  display: flex;
}

.singlecon h1 {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 37px;
}

.singleproduct_ph img {
  width: auto;
  height: 300px;
}

.storebanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/R304.jfif);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.prodsn {
  font-weight: bold;
  font-size: 22px;
}

.slide_img {
  display: none;
}

.slider {
  position: relative;
}
.next {
  position: absolute;
  top: 50%;
  right: 31px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(236, 79, 79);
  border-radius: 50%;
  padding: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 25px;
}
.prev {
  position: absolute;
  top: 50%;
  left: 31px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(236, 79, 79);
  border-radius: 50%;
  padding: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 25px;
}

.slide_img img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.singleproductconbox,
.slider {
  width: 50%;
}
.singleproduct_button {
  float: right;
  margin-top: 30px;
}
.singleproduct_button a {
  padding: 10px 25px;
  border-radius: 4px;
  background: #f36ba1aa;
  border: 1px solid palevioletred;
  cursor: pointer;
  transition: 0.4s;
}

.singleproduct_button a:hover {
  background: #f36ba1;
}

.aboutusbanner img {
  width: 100%;
}

.contactusbanner{
<<<<<<< HEAD
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/contactus.jpg);
  position: relative;
  background-repeat: no-repeat;
=======
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/contactus.jpg);
position: relative;
background-repeat: no-repeat;
width: 100%;
height: 400px;
background-position: center;
background-size: cover;
background-attachment: fixed;

}

..links a.active{
  color: #ba2e66;
}

fieldset{
  padding: 30px;
  margin-top: 50px;
}

.register_form input[type=text], .register_form input[type=password] {
>>>>>>> 8689a2e920e4045622631c2de24cfaa242c90941
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.register_form input[type=text]:focus, .register_form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}



.signin {
  background-color: #f1f1f1;
  text-align: center;
}

@media screen and (max-width: 768px) {

  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.9);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
  }
  nav :checked ~ .links {
    bottom: 0%;
  }
  .nav .icon-burger .line{
    background-color: #f36ba1 !important;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg); 
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .homee {
    flex-direction: column;
  }

  .homecontent {
    margin-right: 0;
  }

  .homebuttons .Pink {
    padding: 10px 18px;
  }

  .homelogo img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .homebanner p {
    transform: translateY(-50%);
    left: 0;
    font-size: 16px;
    padding: 0 20px;
  }

  .homebanner {
    height: 300px;
    margin-top: 50px;
  }

  .producttitle h3 {
    font-size: 14px;
    margin-top: 50px;
  }

  .productboxes {
    grid-template-columns: auto;
    gap: 0;
  }

  .abcontent h3 {
    font-size: 12px;
    margin-top: 50px;
  }

  .container {
    width: 90%;
  }
  

  .abboxes {
    grid-template-columns: auto;
    gap: 0;
  }

  .abbox p {
    font-size: 16px;
    margin-top: 50px;
  }

  .abcontent {
    margin-top: 50px;
  }

  .applesc_container h2 {
    margin-top: 50px;
  }

  .footer_section {
    margin-top: 50px;
  }

  .applesc_photo img {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .contactcc h3 {
    margin-top: 50px;
  }

  .contact_form_icon {
    flex-direction: column;
  }

  .icon_box {
    justify-content: left;
  }

  .newsletter_form input {
    width: 80%;
  }

  .navigation ul {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .homecontent h2 {
    font-size: 29px;
  }

  .homecontent p {
    font-size: 18px;
  }

  .Login_section {
    padding-left: 0;
    padding-right: 0;
  }

  .boxes {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .loginft img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .aboutusbanner img {
    height: auto;
  }

  .storebanner {
    height: 300px;
  }

  .singleproduct_stuf {
    flex-direction: column;
    gap: 0;
  }

  .next {
    right: -29px;
  }

  .prev {
    left: -29px;
  }

  .singlecon h1 {
    font-size: 30px;
  }

  .singleproductconbox,
  .slider {
    width: unset;
  }

  }

  }
  * {box-sizing: border-box}

  .container {
    padding: 16px;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
 
  .registerbtn {
    background-color: #aa045f;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  
  
 
